<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--userService的创建权交给了spring-->
    <bean id="userService" class="com.bingo.ioc.demo1.UserServiceImpl">
        <!--设置属性-->
        <property name="name" value="bingo"/>
    </bean>

    <!--bean实例化的三种方式-->

    <!--第一种：无餐构造器的方式-->
    <bean id="bean1" class="com.bingo.ioc.demo2.Bean1" init-method="init" destroy-method="customDestroy">
        <property name="name" value="bingo"/>
    </bean>
    <!--第二种：静态工厂的方式-->
    <bean id="bean2" class="com.bingo.ioc.demo2.Bean2Factory" factory-method="createBean2" scope="prototype"/>
    <!--第三种：实例工厂的方式-->
    <bean id="bean3Factory" class="com.bingo.ioc.demo2.Bean3Factory"/>
    <bean id="bean3" factory-bean="bean3Factory" factory-method="createBean3" scope="prototype"/>

    <!--bean的作用域：默认为singleton（单例），prototype（每次调用getBean()都会返回一个新的实例）,request, session-->

    <!--增强bean-->
    <bean class="com.bingo.ioc.demo2.MyBeanPostProcessor"></bean>
</beans>