<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCRESTful:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringMVCRESTful.war">
      <element id="artifact" artifact-name="SpringMVCRESTful:war exploded" />
    </root>
  </artifact>
</component>